{% extends "common/masterpage.html" %}

{% block title %}Error{% endblock %}

{% block content %}
<div class="colored-section bg-inverse align-content-center">
    <section class="container fullPage">
        <br>
        <div class="align-content-center">
            <h2>¡Ha ocurrido un error!</h2>
            <img src="../static/img/logo404.png" class="mx-auto d-block error-img" />
        </div>
    </section>
</div>
<div class="fixed-bottom" style="z-index: 0;">
        <img src="../static/img/crowd.png" class="img-fluid" />
</div>
{% endblock %}