{% extends "common/masterpage.html" %}
{% block title %}Editar Local{% endblock %}
{% block content %}
<div class="colored-section bg-inverse" style="z-index: -1;">
        <section class="container fullPage" style="z-index: 1;">
                <br>
                <h2>Perfil</h2>
    <form class="form-group" action="/editar_local" method="post">
        {% with WIDGET_ERROR_CLASS='form-control-danger' %}
        {% csrf_token %}
        {{ venueForm.name.errors }}
        <label for="{{ venueForm.name.id_for_label }}">Nombre:</label>
        {% render_field venueForm.name class+="form-control" %}
        <br>
        {{ venueForm.email.errors }}
        <label for="{{ venueForm.email.id_for_label }}">Email:</label>
        {% render_field venueForm.email class+="form-control" %}
        <br>
        {{ venueForm.logo.errors }}
        <label for="{{ venueForm.logo.id_for_label }}">Logo:</label>
        {% render_field venueForm.logo class+="form-control" %}
        <br>
        {{ venueForm.description.errors }}
        <label for="{{ venueForm.description.id_for_label }}">Descripción:</label>
        {% render_field venueForm.description class+="form-control" %}
        <br>
        {{ venueForm.capacity.errors }}
        <label for="{{ venueForm.artistNcapacityumber.id_for_label }}">Capacidad:</label>
        {% render_field venueForm.capacity class+="form-control" %}
        <br>
        <br/>
        <br/>
        <div>Geolocalización</div>
        <div>Latitud: {{geoForm.latitude}}</div>
        <div>Longitud: {{geoForm.longitude}}</div>
        <div>
            {{ photoFormSet.management_form }}
            {% for form in photoFormSet %}
                {{ form.id }}
                <div> Foto: {{ form.url }}
                    {% if form.id.value != None and form.id.value != "" %}
                        <input type="radio" name="photoToDelete" value='{{ form.id.value }}'/>
                    {% endif %}
                </div>
            {% endfor %}
            <input type="submit" name="deletePhoto" value='Borrar foto seleccionada' />
        </div>

        <div class="text-center">
            <input type="submit" name="edit" class="btn btn-round btn-primary" value="Editar" />
        </div>
    {% endwith %}
    </form>
    
</section>
</div>
<div class="fixed-bottom" style="z-index: 0;">
        <img src="../static/img/crowd.png" class="img-fluid" />
    </div>