{% extends "common/masterpage.html" %}

{% block title %}Crear oferta{% endblock %}

{% block content %}
{% load widget_tweaks %}

<div class="colored-section bg-inverse" style="z-index: -1;">
    <section class="container fullPage" style="z-index: 1;">
        <br>
        <h2>Crear una oferta</h2>

        <form class="form-group" action="/formulario_oferta/" method="post">

            {% with WIDGET_ERROR_CLASS='form-control-danger' %}
            {% csrf_token %}

            
            <label for="{{ form.name.id_for_label }}">Título:</label>
            {% render_field form.name class+="form-control" placeholder="¿Cómo se llama tu oferta?" %}
            {{ form.name.errors }}
            <br>

            <label for="{{ form.description.id_for_label }}">Descripción:</label>
            {% render_field form.description class+="form-control" placeholder="Explica a los artistas qué estás buscando" %}
            {{ form.description.errors }}
            <br>

            
            <label for="{{ form.offeredAmount.id_for_label }}">Precio ofrecido:</label>            
            <div class="input-group">
                {% render_field form.offeredAmount class+="form-control" placeholder="Cantidad en Euros" type="number" max="999999999999999" %}
                <span class="input-group-btn">
                    <spam class="btn btn-primary" ><em class="fa fa-euro"></em></spam>
                </span>
            </div>
            {{ form.offeredAmount.errors }}        
            <br>

            
            <label for="{{ form.date.id_for_label }}">Fecha:</label>
            <!-- <input class="form-control" name="date" required id="datepicker" placeholder="Selecciona fecha" type="datetime"> -->
            <input type="date" class="form-control" name="date" required/>  
            {{ form.date.errors }}
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    {{error}}
                {% endfor %}
            {% endif %}
            <br>
            
            <div class="text-center">
                <input type="submit" class="btn btn-round btn-primary" value="Crear" />
            </div>
            {% endwith %}
        </form>
    </section>
</div>

<div class="fixed-bottom" style="z-index: 0;">
    <img src="../static/img/crowd.png" class="img-fluid" />
</div>

{% endblock %}
