{% extends "common/masterpage.html" %}
{% block title %}Editar Local{% endblock %}
{% block content %}
{% load widget_tweaks %}


<script>	    
    var map;
    var marker;
    function initialize() {
        var myLatlng = new google.maps.LatLng({{geoForm.latitude.value}},{{geoForm.longitude.value}});
        var mapOptions = {
          zoom: 15,
          center: myLatlng
        }
      map = new google.maps.Map(document.getElementById("map"), mapOptions);
      createMarker(myLatlng);
    }
    google.maps.event.addDomListener(window, "load", initialize);
    
    function searchAddress() {
          var addressInput = document.getElementById('id_Ven-address').value;
          var geocoder = new google.maps.Geocoder();
          geocoder.geocode({address: addressInput}, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
              var myResult = results[0].geometry.location; // reference LatLng value
              var lati = myResult.lat();
              var longi = myResult.lng();
              createMarker(myResult); // call the function that adds the marker
              map.setCenter(myResult);
              map.setZoom(9);
              document.getElementById('Geo-latitude').value = lati;
              document.getElementById('Geo-longitude').value = longi;
            }else { // if status value is not equal to "google.maps.GeocoderStatus.OK"
                // warning message
                alert("The Geocode was not successful for the following reason: " + status);
              }
          });
        }
        function createMarker(latlng) {
           // If the user makes another search you must clear the marker variable
           if(marker != undefined && marker != ''){
            marker.setMap(null);
            marker = '';
           }
           marker = new google.maps.Marker({
              map: map,
              position: latlng
           });
        }
        
        
    
    
    </script>
<div class="colored-section bg-inverse" style="z-index: -1;">
        <section class="container fullPage" style="z-index: 1;">
                <br>
                <h2>Perfil</h2>
    <form class="form-group" action="/editar_local" method="post" enctype="multipart/form-data">
        {% with WIDGET_ERROR_CLASS='form-control-danger' %}
        {% csrf_token %}
        

        <label for="{{ venueForm.name.id_for_label }}">Nombre:</label>
        {% render_field venueForm.name class+="form-control" %}
        {{ venueForm.name.errors }}
        <br>

        <label for="{{ venueForm.email.id_for_label }}">Email:</label>
        {% render_field venueForm.email class+="form-control" %}
        {{ venueForm.email.errors }}
        <br>

        <label for="{{ venueForm.logo.id_for_label }}">Logo:</label>
        {% render_field venueForm.logo class+="form-control" %}
        {{ venueForm.logo.errors }}
        <div style="color: red" class="hidden" id="fileError">Por favor, utilice una imagen con un tamaño inferior a 20MB</div>
        <br>

        <label for="{{ venueForm.description.id_for_label }}">Descripción:</label>
        {% render_field venueForm.description class+="form-control" %}
        {{ venueForm.description.errors }}
        <br>

        <label for="{{ venueForm.capacity.id_for_label }}">Capacidad:</label>
        {% render_field venueForm.capacity class+="form-control" %}
        {{ venueForm.capacity.errors }}
        <br>
        <br/>
        <br/>


        <input class="form-control" name="Ven-address" id="id_Ven-address" value="{{ venueForm.address.value }}"/>
            <br>

			<input type="hidden" name="Geo-latitude" id="Geo-latitude" value="{{geoForm.latitude.value}}"/>
			<input type="hidden" name="Geo-longitude" id="Geo-longitude" value="{{geoForm.longitude.value}}">
			


			<div>
				<button type="button" class="btn btn-round btn-primary"  onclick="searchAddress();">Buscar dirección</button>
			</div>
				 
            <br>
			
			<div class="map-container"/>
			<div class="map" id="map"></div>
			</div>

			<br>
        <br>
        <h3>Multimedia</h3>
        <div>
            {{ photoFormSet.management_form }}
            <div>Fotos:</div>
            {% for form in photoFormSet %}
                {{ form.id }}
                <div> {{ form.url }}
                    {% if form.id.value != None and form.id.value != "" %}
                        <input type="radio" name="photoToDelete" value='{{ form.id.value }}'/>
                    {% endif %}
                    {{form.url.errors}}
                </div>
                <br>
            {% endfor %}
            <input type="submit"  class="btn btn-round btn-primary" name="deletePhoto" value='Borrar foto seleccionada' />
        </div>

        <div class="text-center">
            <input type="submit" name="edit" class="btn btn-round btn-primary" value="Editar" id="submitButton" />
        </div>
    {% endwith %}
    </form>
</section>
</div>
{{ venueForm.address.errors }}
<div class="fixed-bottom" style="z-index: 0;">
        <img src="../static/img/crowd.png" class="img-fluid" />
    </div>

    <script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdGla1CET4Qscd4i_tnk7o1JTosQQvVZk&&callback=initialize">
</script>

<script type="text/javascript">
    $('#id_logo').on('change', function() {
    $('#fileError').addClass('hidden');
    $('#submitButton').prop('disabled',false)
    if (this.files[0].size/1024/1024 > 20.0){
        $('#fileError').removeClass('hidden');
        $('#submitButton').prop('disabled',true)
    }
    });
</script>

{% endblock %}