{% extends "common/masterpage.html" %}
{% block title %}Editar Artista{% endblock %}
{% block content %}
{% load widget_tweaks %}


<div class="colored-section bg-inverse" style="z-index: -1;">
    <section class="container fullPage" style="z-index: 1;">
        <br>
        <h2>Perfil</h2>
    <form class="form-group" action="/editar_artista" method="post" enctype="multipart/form-data">
        {% with WIDGET_ERROR_CLASS='form-control-danger' %} 
        {% csrf_token %}
        

        <label for="{{ artistForm.name.id_for_label }}">Nombre:</label>
        {% render_field artistForm.name class+="form-control" %}
        {{ artistForm.name.errors }}
        <br>

        <label for="{{ artistForm.email.id_for_label }}">Email:</label>
        {% render_field artistForm.email class+="form-control" %}
        {{ artistForm.email.errors }}
        <br>

        <label for="{{ artistForm.logo.id_for_label }}">Logo:</label>
        {% render_field artistForm.logo class+="form-control" %}
        {{ artistForm.logo.errors }}
        <div style="color: red" class="hidden" id="fileError">Por favor, utilice una imagen con un tamaño inferior a 20MB</div>
        <br>

        <label for="{{ artistForm.description.id_for_label }}">Descripción:</label>
        {% render_field artistForm.description class+="form-control" %}
        {{ artistForm.description.errors }}
        <br>

        <label for="{{ artistForm.artistNumber.id_for_label }}">Número de Integrantes:</label>
        {% render_field artistForm.artistNumber class+="form-control" %}
        {{ artistForm.artistNumber.errors }}
        <br>
        <br/>
        <h3>Multimedia</h3>
        <div>
            {{ photoFormSet.management_form }}
            <div>Fotos:</div>
            {% for form in photoFormSet %}
                {{ form.id }}
                <div>
                    {{form.url}}
                    {% if form.id.value != None and form.id.value != "" %}
                        <input type="radio" name="photoToDelete" value='{{ form.id.value }}'/>
                    {% endif %}
                    {{form.url.errors}}
                </div>
                <br>
                {% endfor %}
                <input type="submit" class="btn btn-round btn-primary" name="deletePhoto" value='Borrar foto seleccionada' />
        </div>
        <div>
            {{ tagFormSet.management_form }}
            <div>Etiquetas:</div>
            {% for form in tagFormSet %}
                {{ form.id }}
                <div>{{ form.name }}
                    {% if form.id.value != None and form.id.value != "" %}
                        <input type="radio" name="tagToDelete" value='{{ form.id.value }}'/>
                    {% endif %}
                    {{form.name.errors}}                    
                </div>
                <br>
                {% endfor %}
                <input type="submit" class="btn btn-round btn-primary" name="deleteTag" value='Borrar etiqueta seleccionada' />
        </div>
        <div>
            {{ mediaFormSet.management_form }}
            <div>Multimedia:</div>
            {% for form in mediaFormSet %}
                {{ form.id }}
                <div>{{ form.url }}
                    {% if form.id.value != None and form.id.value != "" %}
                        <input type="radio" name="mediaToDelete" value='{{ form.id.value }}'/>
                    {% endif %}
                    {{form.url.errors}}
                </div>
                <br>
                {% endfor %}
                <input type="submit" class="btn btn-round btn-primary" name="deleteMedia" value='Borrar media seleccionada' />
        </div>

        
        
        <div class="text-center">
                <input type="submit" class="btn btn-round btn-primary" name="edit" value="Editar" id="submitButton" />
            </div>
            {% endwith %}
    </form>
    
</section>
</div>
<div class="fixed-bottom" style="z-index: 0;">
        <img src="../static/img/crowd.png" class="img-fluid" />
    </div>

<script type="text/javascript">
    $('#id_logo').on('change', function() {
    $('#fileError').addClass('hidden');
    $('#submitButton').prop('disabled',false)
    if (this.files[0].size/1024/1024 > 20.0){
        $('#fileError').removeClass('hidden');
        $('#submitButton').prop('disabled',true)
    }
    });
</script>

{% endblock %}