{% extends "common/masterpage.html" %}

{% block title %}Art in Bar - Inicio{% endblock %}
{% block content %}
<div class="colored-section bg-inverse">
    <section class="colored-section  hero-header" id="home" style="background-image: url(../static/img/slide1.jpg);display: flex;flex-direction: column;  background-repeat: no-repeat; background-attachment: fixed;" >
        
        <div class="container" >
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="brand">
                        <h1 class="heading-light">Art in Bar</h1>
                        <p class="lead mb-5">
                            ENCUENTRA TU ESCENARIO
                        </p>
                        {% if not user.is_authenticated %}
                        <a href="/registerArtist" class="btn btn-outline-white btn-round btn-md page-scroll">
                            <em class="ion-play"></em> Registro de Artista
                        </a>
                        <br>
                        <a href="/registerVenue" class="btn btn-outline-white btn-round btn-md page-scroll">
                            <em class="ion-play"></em> Registro de Local
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>            
        </div>
        <div style="overflow-x: hidden">
            <div class="row align-items-center justify-content-center flex-grow: 1;" style="height:100%">
                <div class="col-6 text-center">
                        <i id="#goBottom" class="fa fa-angle-double-down fa-5x" aria-hidden="true"></i>
                        <br><br><br>
                        
                    </div>                
            </div>
        </div>
        <div class="container">

                <h2><b>Actuaciones<b></h2>
                {% if performance_list %}           
                    <div class="offer-list">   
                        {% for performance in performance_list %}
                            {% include "performanceCard.html" %}
                        {% endfor %} 
                    </div>  
                    {% else %}
                        <p>No hay espectáculos disponibles.</p>            
                {% endif %}
    
            </div>

    </section>
    

</div>


<script>
    window.onload = function(){
        anime({
            targets: '.btn',
            opacity: 1,
            easing: 'easeInOutQuad',
            duration: 800,
            delay: function(el, i, l) {
                return (i * 500)+100;
            }
        });
        anime({
            targets: '.fa',
            opacity: 1,
            translateY: 30,
            easing: 'easeInOutQuad',
            delay: 1500
        });
    }
</script>
{% endblock %}