{% extends "common/masterpage.html" %} 

{% block title %}Art in Bar - Inicio{% endblock %} 


{% block content %} 

<div class="wrapper">

    <!--header section-->
    <section class="colored-section hero-header" id="home" style="background-image: url(../static/img/slide1.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="brand">
                        <h1 class="heading-light">Art in Bar</h1>
                        <p class="lead mb-5">
                            Duis commodo ex eiusmod qui irure pariatur occaecat ex.
                        </p>
                        <a href="#features" class="btn btn-outline-white btn-round btn-md page-scroll">
                            <em class="ion-play"></em> Registro de Artista
                        </a>
                        <br>
                        <a href="#features" class="btn btn-outline-white btn-round btn-md page-scroll">
                            <em class="ion-play"></em> Registro de Local
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div> 

{% endblock %}