{% extends "common/masterpage.html" %}

{% block title %}Mis Ofertas{% endblock %}
{% block content %}
<div class="colored-section bg-inverse">
    <section class="container fullPage">
        <br>
        {% if propias %}
        <h2>Mis Ofertas</h2>
        {%else%}
        <h2>Ofertas</h2>
        {%endif%}
        {% if offer_list %}           
            <div class="offer-list">   
                {% for offer in offer_list %}
                    {% include "offerCard.html" %}
                {% endfor %} 
            </div>  
            {% else %}
                <p>No hay listas disponibles.</p>            
        {% endif %}
    </section>
</div>
<div class="fixed-bottom" style="z-index: 0;">
        <img src="../static/img/crowd.png" class="img-fluid" />
    </div>    
{% endblock %}