{% if message.sender == user %}
<li style="width:100%;">
    <div class="message-r msgWrapper">
        <div class="text text-r">
            <p>{{ message.text }}</p>
            <p style="text-align: left;">
                <small style="color: black;"><strong>{{message.timeStamp|date:"d/m/Y H:m" }}</strong></small>
            </p>
        </div>
        <div class="avatar" style="padding:0px 0px 0px 10px !important">
            <img class="rounded-circle message-logo" src="{{MEDIA_URL}}{{ message.sender.logo }}">
        </div>
    </div>
</li>   
{% else %}
<li style="width:100%">
    <div class="message msgWrapper">
        <div class="avatar">
            <img class="rounded-circle message-logo" src="{{MEDIA_URL}}{{ message.sender.logo }}">
        </div>
        <div class="text text-l">
            <p>{{ message.text }}</p>
            <p style="text-align: right">
                <small style="color: black;"><strong>{{message.timeStamp|date:"d/m/Y H:m" }}</strong></small>
            </p>
        </div>
    </div>
</li>
{% endif %}