<div class="card">
    <div class="lead font-weight-bold card-header">
        <div class="row text-capitalize"> 
            {{ offer.name }}                                        
        </div>    
        <div class="row">
            <div class="col-8" style="padding: 0px;">
                    <a class="btn btn-sm btn-primary" href="/vista_local/{{ offer.venue.id }}">Contact</a>
            </div>
            <div class="col-4 text-right">{{ offer.offeredAmount }}€</div>
        </div>                           
    </div>
    <div class="card-block">
        <div>
            <p style="margin: 0px">{{ offer.date }}</p>
            <p style="margin: 0px">{{ offer.venue.name }}, {{ offer.venue.address }}</p>
        </div>
        <br>
        <div>
            {{ offer.description }}
        </div>
    </div>
</div>
<br> 