<div class="card" onclick="window.location='/vista_local/{{ offer.venue.id }}';">
                                                              
    <div class="card-block">
            <h4>{{ offer.name }}  </h4>
            <h4><p align="right">{{ offer.offeredAmount }}€</p></h4> 
        <div>
            <p style="margin: 0px">{{ offer.date }}</p>
            <p style="margin: 0px">{{ offer.venue.name }}, {{ offer.venue.address }}</p>
        </div>
        <br>
        <div>
                <p style="margin: 0px">{{ offer.description }}</p>
        </div>
    </div>
</div>
<br> 