{% extends "common/masterpage.html" %}

{% block title %}Art in bar - Payment{% endblock %}
{% block content %}
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<script src="{{proto}}://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>

<div class="colored-section bg-inverse">
        <section class="container fullPage">
    <h1>Realizando un pago como {{user.name}} a {{contact.name}}</h1>
    <form class="form-group" action="/payment" id="paymentForm" method="post">
        {% with WIDGET_ERROR_CLASS='form-control-danger' %}
        {% csrf_token %}

        <div id="msg"></div>

        <input type="hidden" id="payee" name="payee" value="{{contact.id}}"/>

        <label for="payeeName">Destinatario: </label>
        <br>
        <input type="text" class="form-control" disabled name="payeeName" id="payeeName" value="{{contact.name}}"/>
        <br>

        <label for="amount">Precio ofrecido:</label>
        <div class="input-group">
            <input class="form-control" name="amount" id="amount" placeholder="Cantidad en Euros" type="number" min="1" max="9999" required autofocus>
            <span class="input-group-btn">
                <spam class="btn btn-primary"><em class="fa fa-euro"></em></spam>
            </span>
        </div>
        <div id="amountError"></div>        
        <br>

        <p>Toda la información sobre los pagos y comisiones se encuentra en nuestros <a href="/T&C#pagosYComisiones">Términos y Condiciones</a></p>

        <div id="eventData">
            <h3>Datos del evento:</h3>

            <label for="performanceName">Nombre: </label>
            <br>
            <input type="text" class="form-control" name="performanceName" placeholder="Nombre del evento" id="performanceName" required/>  
            <br>

            <label for="performanceDes">Descripción: </label>
            <br>
            <input type="textarea" class="form-control" name="performanceDes" placeholder="¡Describe vuestro evento!" id="performanceDes"/>  
            <br>

            <label for="performanceDate">Fecha: </label>
            <br>
            <input type="date" class="form-control" name="performanceDate" id="performanceDate" required/>  
            <br>

            <label for="performanceHour">Hora: </label>
            <br>
            <input type="text" class="form-control" name="performanceHour" id="performanceHour" placeholder="HH:mm" pattern="^([0-1]?[0-9]|2[0-3]):[0-5][0-9]$" required/>  
            <br>

            <input class="custom-control-input" value="on" type="hidden" name="performancePublic" id="performancePublic">
               
            <br>
        </div>

        {% if offer_list %}
            <label for="relatedOffer">¿Quieres cerrar una oferta relacionada con este evento?</label>
            <select class="form-control" name="relatedOffer" id="relatedOffer">
                <option value="0">No cerrar ninguna oferta</option>
                {% for offer in offer_list %}
                    <option value="{{offer.id}}">{{offer.name}}</option>
                {% endfor %}
            </select>
        {% endif %}

        <br>
        <div id="paypal-button"></div>        
        {% endwith %}
    </form>
    </section>
</div>
<script>
    var CREATE_PAYMENT_URL  = '/payment';
    var EXECUTE_PAYMENT_URL = '/executePayment';

    function isValid() {
        $('#paymentForm').validate({
            errorClass: 'form-control-danger',
            errorPlacement: function(error, element) {
                if(element.attr("name") == "amount"){
                    error.appendTo($('#amountError'));
                }else{
                    error.insertAfter( element);
                }  
            },
            messages: {
                amount: "Por favor, introduce una cantidad entre 1 y 9999 euros.",
                performanceName: "Por favor, introduce un nombre para el evento.",
                performanceDate: "Por favor, introduce una fecha en el futuro."
            }
        });
        return $('#paymentForm').valid();
    }

    function toggleValidationMessage() {
        $('#msg').style.display = (isValid() ? 'none' : 'block');
    }

    paypal.Button.render({

        env: 'sandbox', // Or 'sandbox'

        commit: true, // Show a 'Pay Now' button

        payment: function() {
            if (!isValid()){                
                throw new Error('Formulario Inválido')
            }
            
            var data = {
                payee: $('#payee').val(),
                amount: $('#amount').val(),
                performanceName: $('#performanceName').val(),
                performanceDes: $('#performanceDes').val(),
                performanceDate: $('#performanceDate').val(),
                performanceHour: $('#performanceHour').val(),
                performancePublic: true,
                relatedOffer: $('#relatedOffer option:checked').val(),
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }

            return paypal.request.post(CREATE_PAYMENT_URL,data).then(function(data) {
                if (data.status != null && data.status == "formError"){
                    data.errors.forEach(function(error){
                        $('#msg').append("<p class='text-danger'>"+error+"</p>");
                    });
                    window.scrollTo(0, 0);                    
                    return false;
                }
                return data.id;
            });      
        },

        onAuthorize: function(data) {
            return paypal.request.post(EXECUTE_PAYMENT_URL, {
                paymentID: data.paymentID,
                payerID:   data.payerID,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }).then(function(data) {
                if (data == 'OK'){
                    $(location).attr('href','/paymentConfirmation');
                } else if (data == 'ERROR'){
                    alert('Pago no confirmado')
                } else{
                    alert('Error en el pago')
                }
            });
        }

    }, '#paypal-button');
</script>
{% endblock %}
