
    <div class="card" onclick="window.location='/vista_local/{{ performance.venue.id }}';">
    <div class="card-block">
        <div>
            <p style="margin: 0px"><h4>{{ performance.name }}</h4></p>
            <p style="margin: 0px">{{ performance.date.date }}</p>
            <p style="margin: 0px">{{ performance.venue.name }}, {{ performance.venue.address }}</p>
        
        <br>
        <div></div>
        <p style="margin: 0px">{{ performance.description }}</p>
        </div>
        
    </div> 
</div>
<br> 