{% extends "common/masterpage.html" %}

{% block title %}Registro de Artista{% endblock %}

{% block content %}
{% load widget_tweaks %}

<div class="colored-section bg-inverse" style="z-index: -1;">
    <section class="container fullPage" style="z-index: 1;">
        <br>
        <h2>Registro de Artista</h2>

        <form class="form-group" action="" method="post" enctype="multipart/form-data">

            {% with WIDGET_ERROR_CLASS='form-control-danger' %}
            {% csrf_token %}



            <label for="{{ artist_form.username.id_for_label }}">Nombre de usuario: </label>
              {% render_field artist_form.username class+="form-control" placeholder="Nombre para autenticarte en el sistema" %}
{#            <input class="form-control" name="username" required id="id_username" placeholder="Nombre para autenticarte en el sistema" ></input>#}
			{{ artist_form.username.errors }}
            <br>


            <label for="{{ artist_form.password1.id_for_label }}">Contraseña:</label>
            {% render_field artist_form.password1 class+="form-control" placeholder="Contraseña para autenticarte en el sistema" %}
{#            <input type="password" class="form-control" name="password1" required id="id_password1" placeholder="Contraseña para autenticarte en el sistema"></input>#}
			{{ artist_form.password1.errors }}
            <span class="helptext">
				<ul>
					<li>Tu contraseña no puede ser similar al resto de tu información</li>
					<li>Tu contraseña debe tener al menos 8 caracteres</li>
					<li>Tu contraseña no puede ser de uso común</li>
					<li>Tu contraseña no puede estar compuesta solo por numeros</li>
				</ul>
			</span>
			<br>

            <label for="{{ artist_form.password2.id_for_label }}">Confirmación de contraseña:</label>
            {% render_field artist_form.password2 class+="form-control" placeholder="Confirme la contraseña" %}
{#            <input type="password" class="form-control" name="password2" required id="id_password2" placeholder=""></input>#}
			{{ artist_form.password2.errors }}
            <br>
			

            <label for="{{ artist_form.email.id_for_label }}">Email:</label>
            {% render_field artist_form.email class+="form-control" placeholder="Correo Electrónico" %}
{#            <input class="form-control" name="email" required id="id_email" placeholder="Correo Electrónico"></input>#}
           {{ artist_form.email.errors }}
            <br>


            <label for="{{ artist_form.name.id_for_label }}">Nombre:</label>
            {% render_field artist_form.name class+="form-control" placeholder="¿Cual es el nombre artístico o del grupo?" %}
{#            <input class="form-control" name="name" required id="id_name" placeholder="¿Cual es el nombre artístico o del grupo?"></input>#}
			{{ artist_form.name.errors }}
            <br>


            <label for="{{ artist_form.description.id_for_label }}">Descripción:</label>
            {% render_field artist_form.description class+="form-control" placeholder="Explica brevemente tus espectáculos" %}
{#            <textarea class="form-control" name="description" required id="id_description" placeholder="Explica brevemente tus espectáculos"></textarea>#}
			{{ artist_form.description.errors }}
            <br>
			

            <label for="{{ artist_form.logo.id_for_label }}">Logo:</label>
            {% render_field  artist_form.logo class+="form-control" placeholder="Url del logo o foto de perfil" %}
{#            <input class="form-control" name="logo" required id="id_logo" placeholder="Url del logo o foto de perfil"></input>#}
            {{ artist_form.logo.errors }}
            <div style="color: red" class="hidden" id="fileError">Por favor, utilice una imagen con un tamaño inferior a 20MB</div>
            <br>


            <label for="{{ artist_form.artistNumber.id_for_label }}">Número de componentes:</label>
            <div class="input-group">
                {% render_field  artist_form.artistNumber class+="form-control" placeholder="¿Cuantas personas componen el grupo?" %}
{#                <input class="form-control" name="artistNumber" placeholder="¿Cuantas personas componen el grupo?" type="number">#}
            </div>        
            {{ artist_form.artistNumber.errors }}
            <br>
            <div class="text-center">
                <input type="submit" class="btn btn-round btn-primary" value="Registro" id="submitButton" />
            </div>
            {% endwith %}
        </form>
    </section>
</div>

<div class="fixed-bottom" style="z-index: 0;">
    <img src="../static/img/crowd.png" class="img-fluid" />
</div>
    
<script type="text/javascript">
    $('#id_logo').on('change', function() {
    $('#fileError').addClass('hidden');
    $('#submitButton').prop('disabled',false)
    if (this.files[0].size/1024/1024 > 20.0){
        $('#fileError').removeClass('hidden');
        $('#submitButton').prop('disabled',true)
    }
    });
</script>

{% endblock %}

