{% extends "common/masterpage.html" %} 
{% block title %}T&C{% endblock %}
{% block content %}

<div class="colored-section bg-inverse">
    <section class="container fullPage">
  <span class="stabilisation"></span>
  <h2 style="text-align: center;"><strong>AVISO LEGAL Y CONDICIONES GENERALES DE USO DEL SITIO WEB</strong></h2></p>
  <h2 style="text-align: center;"><strong><span id="span_id_url_web">artinbar.es</span></strong></h2>
  <p style="text-align: left;"><br><br></p>
  <div class="card">
      <div class="card-block">
  <p style="text-align: left;"><strong><br>INFORMACIÓN GENERAL </strong></p>
  <p style="text-align: left;"><br>En cumplimiento con el deber de información dispuesto en la Ley 34/2002 de Servicios de la Sociedad de la Información y el Comercio Electrónico (LSSI-CE) de 11 de julio, se facilitan a continuación los siguientes datos de información general de
    este sitio web:</p>

  <p><br><strong>TÉRMINOS Y CONDICIONES GENERALES DE USO <br><br>EL OBJETO DE LAS CONDICIONES: EL SITIO WEB<br><br></strong>El objeto de las presentes Condiciones Generales de Uso (en adelante Condiciones) es regular el acceso y la utilización del Sitio
    Web. A los efectos de las presentes Condiciones se entenderá como Sitio Web: la apariencia externa de los interfaces de pantalla, tanto de forma estática como de forma dinámica, es decir, el árbol de navegación; y todos los elementos integrados tanto
    en los interfaces de pantalla como en el árbol de navegación (en adelante Contenidos) y todos aquellos servicios o recursos en línea que en su caso ofrezca a los Usuarios (en adelante Servicios).</p>
  <p><span id="span_id_nombre_web">Art In Bar</span> se reserva la facultad de modificar, en cualquier momento, y sin aviso previo, la presentación y configuración del Sitio Web y de los Contenidos y Servicios que en él pudieran estar incorporados. El Usuario
    reconoce y acepta que en cualquier momento <span id="span_id_nombre_web">Art In Bar</span> pueda interrumpir, desactivar y/o cancelar cualquiera de estos elementos que se integran en el Sitio Web o el acceso a los mismos.</p>
  <p>El acceso al Sitio Web por el Usuario tiene carácter libre y, por regla general, es gratuito sin que el Usuario tenga que proporcionar una contraprestación para poder disfrutar de ello, salvo en lo relativo al coste de conexión a través de la red de
    telecomunicaciones suministrada por el proveedor de acceso que hubiere contratado el Usuario. </p>
  <p>La utilización de alguno de los Contenidos o Servicios del Sitio Web podrá hacerse mediante la suscripción o registro previo del Usuario. </p>
  <p><strong><br>EL USUARIO</strong></p>
  <p><strong><br></strong>El acceso, la navegación y uso del Sitio Web, así como por los espacios habilitados para interactuar entre los Usuarios, y el Usuario y <span id="span_id_nombre_web">Art In Bar</span>, como los comentarios y/o espacios de blogging,
    confiere la condición de Usuario, por lo que se aceptan, desde que se inicia la navegación por el Sitio Web, todas las Condiciones aquí establecidas, así como sus ulteriores modificaciones, sin perjuicio de la aplicación de la correspondiente normativa
    legal de obligado cumplimiento según el caso. Dada la relevancia de lo anterior, se recomienda al Usuario leerlas cada vez que visite el Sitio Web.</p>
  <p>El Sitio Web de <span id="span_id_nombre_web">Art In Bar</span> proporciona gran diversidad de información, servicios y datos. El Usuario asume su responsabilidad para realizar un uso correcto del Sitio Web. Esta responsabilidad se extenderá a:</p>
  <ul>
    <li><p>Un uso de la información, Contenidos y/o Servicios y datos ofrecidos por <span id="span_id_nombre_web">Art In Bar</span> sin que sea contrario a lo dispuesto por las presentes Condiciones, la Ley, la moral o el orden público, o que de cualquier otro
      modo puedan suponer lesión de los derechos de terceros o del mismo funcionamiento del Sitio Web.</p></li>
  </ul>
  <ul>
    <li><p>La veracidad y licitud de las informaciones aportadas por el Usuario en los formularios extendidos por <span id="span_id_nombre_web">Art In Bar</span> para el acceso a ciertos Contenidos o Servicios ofrecidos por el Sitio Web. En todo caso, el Usuario
      notificará de forma inmediata a <span id="span_id_nombre_web">Art In Bar</span> acerca de cualquier hecho que permita el uso indebido de la información registrada en dichos formularios, tales como, pero no sólo, el robo, extravío, o el acceso no
      autorizado a identificadores y/o contraseñas, con el fin de proceder a su inmediata cancelación.</li>
  </ul>
  <p><span id="span_id_nombre_web">Art In Bar</span> se reserva el derecho de retirar todos aquellos comentarios y aportaciones que vulneren la ley, el respeto a la dignidad de la persona, que sean discriminatorios, xenófobos, racistas, pornográficos, spamming,
    que atenten contra la juventud o la infancia, el orden o la seguridad pública o que, a su juicio, no resultaran adecuados para su publicación.</p>
  <p>En cualquier caso, <span id="span_id_nombre_web">Art In Bar</span> no será responsable de las opiniones vertidas por los Usuarios a través de comentarios u otras herramientas de blogging o de participación que pueda haber.</p>
  <p>El mero acceso a este Sitio Web no supone entablar ningún tipo de relación de carácter comercial entre <span id="span_id_nombre_web">Art In Bar</span> y el Usuario.</p>
  <p>El Usuario declara ser mayor de edad y disponer de la capacidad jurídica suficiente para vincularse por las presentes Condiciones. Por lo tanto, este Sitio Web de <span id="span_id_nombre_web">Art In Bar</span> no se dirige a menores de edad.
    <span id="span_id_nombre_web">Art In Bar</span> declina cualquier responsabilidad por el incumplimiento de este requisito. </p>
  <p>El Sitio Web está dirigido principalmente a Usuarios residentes en España. <span id="span_id_nombre_web">Art In Bar</span> no asegura que el Sitio Web cumpla con legislaciones de otros países, ya sea total o parcialmente. Si el Usuario reside o tiene
    su domiciliado en otro lugar y decide acceder y/o navegar en el Sitio Web lo hará bajo su propia responsabilidad, deberá asegurarse de que tal acceso y navegación cumple con la legislación local que le es aplicable, no asumiendo <span id="span_id_nombre_web">Art In Bar</span>    responsabilidad alguna que se pueda derivar de dicho acceso.</p>
  <p><br><strong>ACCESO Y NAVEGACIÓN EN EL SITIO WEB: EXCLUSIÓN DE GARANTÍAS Y RESPONSABILIDAD<br><br></strong><span id="span_id_nombre_web">Art In Bar</span> no garantiza la continuidad, disponibilidad y utilidad del Sitio Web, ni de los Contenidos o Servicios.
    <span id="span_id_nombre_web">Art In Bar</span> hará todo lo posible por el buen funcionamiento del Sitio Web, sin embargo, no se responsabiliza ni garantiza que el acceso a este Sitio Web no vaya a ser ininterrumpido o que esté libre de error.</p>
  <p>Tampoco se responsabiliza o garantiza que el contenido o software al que pueda accederse a través de este Sitio Web, esté libre de error o cause un daño al sistema informático (software y hardware) del Usuario. En ningún caso <span id="span_id_nombre_web">Art In Bar</span>    será responsable por las pérdidas, daños o perjuicios de cualquier tipo que surjan por el acceso, navegación y el uso del Sitio Web, incluyéndose, pero no limitándose, a los ocasionados a los sistemas informáticos o los provocados por la introducción
    de virus.</p>
  <p><span id="span_id_nombre_web">Art In Bar</span> tampoco se hace responsable de los daños que pudiesen ocasionarse a los usuarios por un uso inadecuado de este Sitio Web. En particular, no se hace responsable en modo alguno de las caídas, interrupciones,
    falta o defecto de las telecomunicaciones que pudieran ocurrir.</p>
    <p><br><strong>POLÍTICA DE PAGOS<br><br>
      <span id="span_id_nombre_web">Art In Bar</span> hace uso de la plataforma paypal para el desarrollo de los pagos. De esta forma los mismos se realizan de forma segura y el Usuario puede reclamarlos si fuera necesario.</p>
    <p>La comisión aplicada por parte de <span id="span_id_nombre_web">Art In Bar</span> es de un 1% del total de la transferencia, con un mímino de 1€ (UN EURO) por transferencia entre usuarios.</p>

  <p><br><strong>POLÍTICA DE PRIVACIDAD Y PROTECCIÓN DE DATOS<br><br>
    <span id="span_id_nombre_web">Art In Bar</span> se compromete a adoptar las medidas técnicas y organizativas necesarias, según el nivel de seguridad de los datos recabados, de forma que garanticen la seguridad de los datos de carácter personal y eviten
    su alteración, pérdida, tratamiento o acceso no autorizado.</p>
  <p>Conforme a lo previsto en el artículo 5 de la LOPD, se informa al Usuario que los datos personales recabados por <span id="span_id_nombre_web">Art In Bar</span>, mediante los formularios extendidos en sus páginas, serán introducidos en un fichero automatizado
    bajo la responsabilidad de <span id="span_id_nombre_web">Art In Bar</span>, y debidamente declarado e inscrito en el Registro General de la Agencia de Protección de Datos, con la finalidad de poder facilitar, agilizar y cumplir los compromisos establecidos
    entre ambas partes o el mantenimiento de la relación que se establezca en los formularios que suscriba o para atender una solicitud o consulta.</p>
  <p>Mientras el Usuario no comunique lo contrario a <span id="span_id_nombre_web">Art In Bar</span>, se entenderá que sus datos no han sido modificados, que el Usuario se compromete a notificar cualquier variación y que tiene el consentimiento para utilizarlos
    para las finalidades determinadas, explícitas y legítimas para las que se hayan obtenido. Pudiendo incluso ser, además, utilizados con una finalidad comercial de personalización, operativa y estadística, y actividades propias de su objeto social,
    autorizando expresamente a <span id="span_id_nombre_web">Art In Bar</span> para la extracción, almacenamiento de datos y estudios de marketing para adecuar el Contenido ofertado al Usuario, y así mejorar la calidad, funcionamiento y navegación por
    el Sitio Web.</p>
  <p>En las ocasiones en las que el Usuario pudiera facilitar sus datos a través de formularios, con el objeto de realizar consultas, solicitar información y/o por motivos relacionados con el Contenido ofrecido en el Sitio Web, si los datos que facilitara
    el Usuario fueran imprescindibles para el correcto desarrollo de todo esto, se informará de ello al Usuario indicándole que son datos cuya cumplimentación es de carácter obligatorio.</p>
  <p>En caso de no autorizar el tratamiento de sus datos con la finalidad señalada en el/los párrafo(s) anterior(es), el Usuario podrá ejercer sus derechos de información-acceso, rectificación, cancelación y oposición, (Derechos ARCO) de los que dispone
    y que pueden ser ejercitados ante <span id="span_id_nombre_web">Art In Bar</span>. Para ello, debe tener en cuenta las siguientes connotaciones:</p>
  <ul>
    <li><p>Derecho de Acceso: Es el derecho del Usuario a obtener información sobre sus datos concretos de carácter personal y del tratamiento que <span id="span_id_nombre_web">Art In Bar</span> haya realizado o realice, así como de la información disponible
      sobre el origen de dichos datos y las comunicaciones realizadas o previstas de los mismos.</li>
  </ul>
  <ul>
    <li><p>Derecho de Rectificación: Es el derecho del Usuario a que se modifiquen los datos que, estando dentro del fichero automatizado, resulten ser inexactos o incompletos.</li>
  </ul>
  <ul>
    <li><p>Derecho de Cancelación: Es el derecho a suprimir los datos de carácter personal del Usuario, a excepción de lo previsto en otras leyes aplicables que determinen la obligatoriedad de la conservación de los mismos, en tiempo y forma.</li>
  </ul>
  <ul>
    <li><p>Derecho de Oposición: Es el derecho del Usuario a que no se lleve a cabo el tratamiento de sus datos de carácter personal o se cese el tratamiento de los mismos por parte de <span id="span_id_nombre_web">Art In Bar</span>.</li>
  </ul>
  <p>Así pues, el Usuario podrá ejercitar sus derechos mediante comunicación escrita dirigida a <span id="span_id_nombre_web">Art In Bar</span> con la referencia "LOPD-<span id="span_id_url_web">artinbar.es</span>", especificando:</p>
  <ul>
    <li><p>Nombre, apellidos del Usuario y copia del DNI. En los casos en que se admita la representación, será también necesaria la identificación por el mismo medio de la persona que representa al Usuario, así como el documento acreditativo de la representación.
      La fotocopia del DNI podrá ser sustituida, por cualquier otro medio válido en derecho que acredite la identidad.</li>
  </ul>
  <ul>
    <li><p>Petición con los motivos específicos de la solicitud o información a la que se quiere acceder.</li>
  </ul>
  <ul>
    <li><p>Domicilio a efecto de notificaciones.</li>
  </ul>
  <ul>
    <li><p>Fecha y firma del solicitante.</li>
  </ul>
  <ul>
    <li><p>Todo documento que acredite la petición que formula.</li>
  </ul>
  <p>El Usuario deberá utilizar un método de envío que permita acreditar el envío y la recepción de la solicitud.</p>

  <p><span id="span_id_nombre_web">Art In Bar</span> se reserva el derecho a modificar su Política de Privacidad, de acuerdo a su propio criterio, o motivado por un cambio legislativo, jurisprudencial o doctrinal de la Agencia Española de Protección de Datos.
    El uso de la Web después de dichos cambios, implicará la aceptación de los mismos.</p>

  <p><strong><br>POLÍTICA DE COOKIES </strong></p>
  <ul>
    <li><p>Cookies:</li>
  </ul>
  <p>El acceso a este Sitio Web puede implicar la utilización de cookies. Las cookies son pequeñas cantidades de información que se almacenan en el navegador utilizado por cada Usuario —en los distintos dispositivos que pueda utilizar para navegar— para
    que el servidor recuerde cierta información que posteriormente y únicamente el servidor que la implementó leerá. Las cookies facilitan la navegación, la hacen más amigable, y no dañan el dispositivo de navegación.</p>
  <p>La información recabada a través de las cookies puede incluir la fecha y hora de visitas al Sitio Web, las páginas visionadas, el tiempo que ha estado en el Sitio Web y los sitios visitados justo antes y después del mismo. Sin embargo, ninguna cookie
    permite que esta misma pueda contactarse con el número de teléfono del Usuario o con cualquier otro medio de contacto personal. Ninguna cookie puede extraer información del disco duro del Usuario o robar información personal. La única manera de que
    la información privada del Usuario forme parte del archivo Cookie es que el usuario dé personalmente esa información al servidor.</p>

  <ul>
    <li><p>Cookies propias:</li>
  </ul>
  <p>Son aquellas cookies que son enviadas al ordenador o dispositivo del Usuario y gestionadas exclusivamente por <span id="span_id_nombre_web">Art In Bar</span> para el mejor funcionamiento del Sitio Web. La información que se recaba se emplea para mejorar
    la calidad del Sitio Web y su Contenido y su experiencia como Usuario. Estas cookies permiten reconocer al Usuario como visitante recurrente del Sitio Web y adaptar el contenido para ofrecerle contenidos que se ajusten a sus preferencias.</p>

  <ul>
    <li><p>Cookies de terceros:</li>
  </ul>
  <p>Son cookies utilizadas y gestionadas por entidades externas que proporcionan a <span id="span_id_nombre_web">Art In Bar</span> servicios solicitados por este mismo para mejorar el Sitio Web y la experiencia del usuario al navegar en el Sitio Web. Los
    principales objetivos para los que se utilizan cookies de terceros son la obtención de estadísticas de accesos y analizar la información de la navegación, es decir, como interactúa el Usuario con el Sitio Web.</p>
  <p>La información que se obtiene se refiere, por ejemplo, al número de páginas visitadas, el idioma, el lugar a la que la dirección IP desde el que accede el Usuario, el número de Usuarios que acceden, la frecuencia y reincidencia de las visitas, el tiempo
    de visita, el navegador que usan, el operador o tipo de dispositivo desde el que se realiza la visita. Esta información se utiliza para mejorar el Sitio Web, y detectar nuevas necesidades para ofrecer a los Usuarios un Contenido y/o servicio de óptima
    calidad. En todo caso, la información se recopila de forma anónima y se elaboran informes de tendencias del Sitio Web sin identificar a usuarios individuales.</p>
  <p>Puede obtener más información sobre las cookies, la información sobre la privacidad, o consultar la descripción del tipo de cookies que se utiliza, sus principales características, periodo de expiración, etc. en el siguiente(s) enlace(s):</p>
  <p style="padding-left: 30px;"><span style="white-space:pre-wrap;"><span id="span_id_tercero_contratado_para_cookies" class="encours">PayPal</span></span>
  </p>
  <p>La(s) entidad(es) encargada(s) del suministro de cookies podrá(n) ceder esta información a terceros, siempre y cuando lo exija la ley o sea un tercero el que procese esta información para dichas entidades.</p>
  <ul>
    <li><p>Deshabilitar, rechazar y eliminar cookies:</li>
  </ul>
  <p>El Usuario puede deshabilitar, rechazar y eliminar las cookies —total o parcialmente— instaladas en su dispositivo mediante la configuración de su navegador (entre los que se encuentran, por ejemplo, Chrome, Firefox, Safari, Explorer). En este sentido,
    los procedimientos para rechazar y eliminar las cookies pueden diferir de un navegador de Internet a otro. En consecuencia, el Usuario debe, acudir a las instrucciones facilitadas por el propio navegador de Internet que esté utilizando. En el supuesto
    de que rechace el uso de cookies —total o parcialmente— podrá seguir usando el Sitio Web, si bien podrá tener limitada la utilización de algunas de las prestaciones del mismo.</p>
  <ul>
    <li><p>Cambios en la Política de Cookies:</li>
  </ul>
  <p>Es posible que la Política de Cookies del Sitio Web cambie o se actualice, por ello es recomendable revisar esta política cada vez que acceda al Sitio Web con el objetivo de estar adecuadamente informado sobre cómo y para qué usamos las cookies.</p>
  <p><br><strong>POLÍTICA DE ENLACES</strong></p>
  <p>Se informa que el Sitio Web de <span id="span_id_nombre_web">Art In Bar</span> pone o puede poner a disposición de los Usuarios medios de enlace (como, entre otros, links, banners, botones), directorios y motores de búsqueda que permiten a los Usuarios
    acceder a sitios web pertenecientes y/o gestionados por terceros.</p>
  <p>La instalación de estos enlaces, directorios y motores de búsqueda en el Sitio Web tiene por objeto facilitar a los Usuarios la búsqueda de y acceso a la información disponible en Internet, sin que pueda considerarse una sugerencia, recomendación o
    invitación para la visita de los mismos.</p>
  <p><span id="span_id_nombre_web">Art In Bar</span> no ofrece ni comercializa por sí ni por medio de terceros los productos y/o servicios disponibles en dichos sitios enlazados.</p>
  <p>Asimismo, tampoco garantizará la disponibilidad técnica, exactitud, veracidad, validez o legalidad de sitios ajenos a su propiedad a los que se pueda acceder por medio de los enlaces.</p>
  <p><span id="span_id_nombre_web">Art In Bar</span> en ningún caso revisará o controlará el contenido de otros sitios web, así como tampoco aprueba, examina ni hace propios los productos y servicios, contenidos, archivos y cualquier otro material existente
    en los referidos sitios enlazados.</p>
  <p><span id="span_id_nombre_web">Art In Bar</span> no asume ninguna responsabilidad por los daños y perjuicios que pudieran producirse por el acceso, uso, calidad o licitud de los contenidos, comunicaciones, opiniones, productos y servicios de los sitios
    web no gestionados por <span id="span_id_nombre_web">Art In Bar</span> y que sean enlazados en este Sitio Web.</p>
  <p>El Usuario o tercero que realice un hipervínculo desde una página web de otro, distinto, sitio web al Sitio Web de <span id="span_id_nombre_web">Art In Bar</span> deberá saber que:</p>
  <p>No se permite la reproducción —total o parcialmente— de ninguno de los Contenidos y/o Servicios del Sitio Web sin autorización expresa de <span id="span_id_nombre_web">Art In Bar</span>.</p>
  <p>No se permite tampoco ninguna manifestación falsa, inexacta o incorrecta sobre el Sitio Web de <span id="span_id_nombre_web">Art In Bar</span>, ni sobre los Contenidos y/o Servicios del mismo.</p>
  <p>A excepción del hipervínculo, el sitio web en el que se establezca dicho hiperenlace no contendrá ningún elemento, de este Sitio Web, protegido como propiedad intelectual por el ordenamiento jurídico español, salvo autorización expresa de <span id="span_id_nombre_web">Art In Bar</span>.</p>
  <p>El establecimiento del hipervínculo no implicará la existencia de relaciones entre <span id="span_id_nombre_web">Art In Bar</span> y el titular del sitio web desde el cual se realice, ni el conocimiento y aceptación de <span id="span_id_nombre_web">Art In Bar</span>    de los contenidos, servicios y/o actividades ofrecidos en dicho sitio web, y viceversa.</p>
  <p><br><strong>PROPIEDAD INTELECTUAL E INDUSTRIAL<br></strong><br><span id="span_id_nombre_web">Art In Bar</span> por sí o como parte cesionaria, es titular de todos los derechos de propiedad intelectual e industrial del Sitio Web, así como de los elementos
    contenidos en el mismo (a título enunciativo y no exhaustivo, imágenes, sonido, audio, vídeo, software o textos, marcas o logotipos, combinaciones de colores, estructura y diseño, selección de materiales usados, programas de ordenador necesarios para
    su funcionamiento, acceso y uso, etc.). Serán, por consiguiente, obras protegidas como propiedad intelectual por el ordenamiento jurídico español, siéndoles aplicables tanto la normativa española y comunitaria en este campo, como los tratados internacionales
    relativos a la materia y suscritos por España.</p>
  <p>Todos los derechos reservados. En virtud de lo dispuesto en la Ley de Propiedad Intelectual, quedan expresamente prohibidas la reproducción, la distribución y la comunicación pública, incluida su modalidad de puesta a disposición, de la totalidad o
    parte de los contenidos de esta página web, con fines comerciales, en cualquier soporte y por cualquier medio técnico, sin la autorización de <span id="span_id_nombre_web">Art In Bar</span>.</p>
  </p>
  <p>En caso de que el Usuario o tercero considere que cualquiera de los Contenidos del Sitio Web suponga una violación de los derechos de protección de la propiedad intelectual, deberá comunicarlo inmediatamente a <span id="span_id_nombre_web">Art In Bar</span>    a través de los datos de contacto del apartado de INFORMACIÓN GENERAL de este Aviso Legal y Condiciones Generales de Uso.</p>
  <p id="pagosYComisiones" ><strong><br>GESTIÓN DE LOS PAGOS Y COMISIONES<br></strong><br><span id="span_id_nombre_web">Art In Bar</span> cobra una comisión por el uso del sistema de pagos: 1€ para pagos inferiores hasta 100€ y 1% del pago para importes superiores.</p>
  <p>Adicionalmente, Paypal carga una comisión de 3,4% + 0,35€ en cada operación.</p>
  <p><span id="span_id_nombre_web">Art In Bar</span> guarda toda la información referente a los pagos, realizados a través de la plataforma Paypal, en el caso de que fuera necesario presentar dicha información si así fuera requerido por las autoridades españolas. Para cualquier problema con los pagos, contacte con nosotros en pagosartinbar@gmail.com. <span id="span_id_nombre_web">Art In Bar</span> se reserva el derecho a devolver los importes pagados si la causa por la que se solicita tal devolución no está relacionada con un error del sistema.</p>
  </div>
</div>
</section>
</div>
<div class="fixed-bottom" style="z-index: 0;">
    <img src="../static/img/crowd.png" class="img-fluid" />
</div>    
{% endblock %}
