.fullPage {
    padding-top: 70px;
    min-height: 100vh;
}

.card-header,
.card-block,
.card-block p {
    color: #292b2c !important;
}

.card-block {
    padding: 10px;
}

.btn-xs {
    margin: 0px;
}

.btn-outline-white {
    opacity: 0;
    background-color: rgba(21, 22, 22, 0.4);
}

.fa-angle-double-down {
    opacity: 0;
}

.wrapper {
    overflow-x: hidden;
}