.fullPage {
    padding-top: 70px;
    min-height: 100vh;
}

.card-header,
.card-block,
.card-block p {
    color: #292b2c !important;
}

.card-block {
    padding: 10px;
}

.btn-sm {
    margin: 0px;
    margin-top: 5px;
}

.btn-outline-white {
    opacity: 0;
    background-color: rgba(21, 22, 22, 0.4);
}

.fa-angle-double-down {
    opacity: 0;
}

.wrapper {
    overflow-x: hidden;
}

.jumbotron {
    padding-bottom: 0px !important;
}

.profileBanner {
    background-size: cover;
    margin-top: 76px;
    height: calc(40vh - 76px);
    margin-bottom: 0px;
<<<<<<< HEAD
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
=======
>>>>>>> 00510a7c3c1c239b25a6d10a8471ab0ff9f81236
}

.profileData>.nav {
    overflow-x: scroll;
    background-color: aliceblue;
}

<<<<<<< HEAD
.profileData {
    min-height: 60vh;
}

.profileTitle {
    margin: 0px;
    padding: 15px;
    background-color: #242627ab;
}

=======
>>>>>>> 00510a7c3c1c239b25a6d10a8471ab0ff9f81236
.nav-pills>.nav-item>.nav-link:hover {
    background-color: rgba(200, 200, 200, 0.2);
}

.nav-pills>.nav-item>.nav-link {
    color: black !important;
}

.nav-pills>.nav-item>.nav-link.active {
    border-color: #999;
    background-color: #999;
    color: #fff !important;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.3);
}

.nav-pills>.nav-item.disabled>.nav-link,
.nav-pills>.nav-item.disabled>.nav-link:hover {
    color: rgba(255, 255, 255, 0.5);
}

.nav-pills.nav-pills-primary>.nav-item>.nav-link.active {
    border-color: #6200ea;
    background-color: #6200ea;
}