.fullPage {
    padding-top: 70px;
    min-height: 100vh;
}

.card-header,
.card-block,
.card-block p {
    color: #292b2c !important;
}

.card-block {
    padding: 10px;
}

.btn-sm {
    margin: 0px;
    margin-top: 5px;
}

.btn-outline-white {
    opacity: 0;
    background-color: rgba(21, 22, 22, 0.4);
}

.fa-angle-double-down {
    opacity: 0;
}

.wrapper {
    overflow-x: hidden;
}

.jumbotron {
    padding-bottom: 0px !important;
}

.hidden {
    display: none;
}

.profileBanner {
    background-size: cover;
    margin-top: 70px;
    height: calc(40vh - 76px);
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.profileData>.nav {
    overflow-x: scroll;
    background-color: aliceblue;
}

.profileData {
    min-height: 60vh;
}

.profileTitle {
    margin: 0px;
    padding: 15px;
    background-color: #242627ab;
}

.nav-pills>.nav-item>.nav-link:hover {
    background-color: rgba(200, 200, 200, 0.2);
}

.nav-pills>.nav-item>.nav-link {
    color: black !important;
}

.nav-pills>.nav-item>.nav-link.active {
    border-color: #999;
    background-color: #999;
    color: #fff !important;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.3);
}

.nav-pills>.nav-item.disabled>.nav-link,
.nav-pills>.nav-item.disabled>.nav-link:hover {
    color: rgba(255, 255, 255, 0.5);
}

.nav-pills.nav-pills-primary>.nav-item>.nav-link.active {
    border-color: #6200ea;
    background-color: #6200ea;
}

.error-img {
    max-width: 100%;
    max-height: 404px;
}

@media screen and (max-width: 420px) {
    .message-logo {
        max-width: 100%;
        height: auto;
        margin-top: 5px;
    }
}

@media screen and (min-width: 420px) and (max-width: 768px) {
    .message-logo {
        max-width: 80%;
        height: auto;
        margin-top: 5px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1337px) {
    .message-logo {
        max-width: 50%;
        height: auto;
        margin-top: 5px;
    }
}

@media screen and (min-width: 1337px) {
    .message-logo {
        max-width: 30%;
        height: auto;
        margin-top: 5px;
    }
}